body {


    background-color: orange;
}

h1 {

    color: black;
    color: red;
    color: chartreuse;
    color: #b31b1b;
    color: rgb(0, 0, 0);
    color: rgb(255, 255, 0);
    background-color: rgba(240, 63, 55, 0.8);



}